조별과제/main/crual_grouptask/__pycache__/client_act.cpython-311.pyc
client/UIPackage/__pycache__/__init__.cpython-311.pyc
client/UIPackage/__pycache__/alarm.cpython-311.pyc
client/UIPackage/__pycache__/config.cpython-311.pyc
client/UIPackage/__pycache__/status.cpython-311.pyc
client/UIPackage/__pycache__/test.cpython-311.pyc
client/ConPackage/__pycache__/__init__.cpython-311.pyc
client/ConPackage/__pycache__/connect.cpython-311.pyc
client/UIPackage/__pycache__/alarm.cpython-311.pyc
client/UIPackage/__pycache__/connect.cpython-311.pyc
client/UIPackage/__pycache__/test.cpython-311.pyc
client/UIPackage/__pycache__/*
client.zip
crual_grouptask.zip
client/UIPackage/__pycache__/*.pyc
client/UIPackage/__pycache__/*.pyc
server/log/dust_log.dat
server/2024-06-09 03:40:18,603 ERROR __main__ F.txt
server/__pycache__/crontab.cpython-311.pyc
server/config/dust_flag.dat
server/config/wea_flag.dat
server/config/window_stat.dat
