조별과제/main/crual_grouptask/__pycache__/client_act.cpython-311.pyc
client/UIPackage/__pycache__/__init__.cpython-311.pyc
client/UIPackage/__pycache__/alarm.cpython-311.pyc
client/UIPackage/__pycache__/config.cpython-311.pyc
client/UIPackage/__pycache__/status.cpython-311.pyc
client/UIPackage/__pycache__/test.cpython-311.pyc
